<section>
    <nav id="navbar" class="navbar">
        <section class="container-fluid justify-content-start">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="/images/chirper.png" alt="Logo" width="120" height="120" class="d-inline-block align-text-top">
                <p class="d-flex flex-column align-items-center"><span id="logo-text" class="m-1">Turpial</span>Tech-Talks</p>
            </a>
        </section>
    </nav>
</section>