  <header class="header">
    <p class="name">TaskPro</p>

    <nav class="nav">
      <a href="/profile">Profile</a>
      <a id="logout">Logout</a>
    </nav>
  </header>

  
<script type="module" src="../public/js/logout.js"></script>