<section class="container-fluid col-9 vh-100 text-light d-flex justify-content-center">
    <section >
        <form action="logIn" id="login-form" class="form login-form m-2">
            <h2>Login</h2>

            <section class="form-group m-2">
                <input class="form-input" type="text" id="email-login" placeholder="Email">
            </section>
            <section class="form-group m-2">
                <input class="form-input" type="password" id="password-login" placeholder="Password">
            </section>
            <section class="form-group m-2">
                <button id="login-btn" class="btn btn-warning" type="submit">Login</button>
            </section>
        </form>

        <form action="signUp" id="sign-up-form" class="form m-2">
            <section class="register">
                <h2>Sign Up</h2>
            </section>
            <section class="form-group m-2">
                <input class="form-input" type="text" id="username-signup" placeholder="username">
            </section>
            <section class="form-group m-2">
                <input class="form-input" type="text" id="email-signup" placeholder="Email">
            </section>
            <section class="form-group m-2">
                <input class="form-input" type="password" id="password-signup" placeholder="Password">
            </section>
            <section class="form-group m-2">
                <button id="signup-btn" class="btn btn-warning" type="submit">Sign Up</button>
            </section>
        </form>
    </section>
</section>