<main class="container">
  {{>header}}
  <section id="app" class="container-fluid row">
    {{>nav}}
    {{>feed}}
  </section>
    {{!-- {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}} --}}

</main>
