<main class="container">
  {{>header}}
  <section id="app" class="container-fluid row">
    {{>nav}}
    {{>logIn}}
  </section>
    {{!-- {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}} --}}

</main>

<script type="module" src="../public/js/login.js"></script>
