<main class="container">
  {{>header}}
  <section id="app" class="container-fluid row">
    {{>nav}}
    {{>profile-details}}
  </section>
</main>

<script type="module" src="/js/logout.js"></script>
