<main class="container">
  {{>header}}
  <section id="app" class="container-fluid row">
    <section class="container-fluid col-3">{{>nav}}</section>
    <section class="container-fluid col-9 row">{{>profile-details}}</section>
  </section>
</main>

<script type="module" src="/js/profile.js"></script>
<script type="module" src="/js/logout.js"></script>
